*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#fff5f8;
    color:#444;
}

.container{
    width:90%;
    max-width:1200px;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

header{
    background:#ff5fa2;
    padding:20px 0;
}

.logo{
    color:white;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    font-weight:bold;
}

nav a:hover{
    color:#ffe7f3;
}

.hero{
    height:90vh;
    background:linear-gradient(rgba(255,95,162,.5),rgba(255,95,162,.5)),
    url("https://images.unsplash.com/photo-1522335789203-aabd1fc54bc9?w=1600");
    background-size:cover;
    background-position:center;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
}

.hero h1{
    font-size:60px;
}

.hero p{
    margin:20px 0;
    font-size:22px;
}

.btn{
    display:inline-block;
    padding:15px 35px;
    background:white;
    color:#ff5fa2;
    border-radius:30px;
    text-decoration:none;
    font-weight:bold;
    transition:.3s;
}

.btn:hover{
    background:#ff5fa2;
    color:white;
    border:2px solid white;
}

section{
    padding:70px 10%;
}

section h2{
    text-align:center;
    color:#ff5fa2;
    margin-bottom:30px;
}

.text{
    text-align:center;
    max-width:800px;
    margin:auto;
    line-height:1.8;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
}

.card{
    background:white;
    padding:25px;
    border-radius:15px;
    text-align:center;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
}

.card h3{
    color:#ff5fa2;
    margin-bottom:15px;
}

.card h4{
    margin-top:15px;
    color:#ff5fa2;
}

.gallery{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:20px;
}

.gallery img{
    width:100%;
    height:300px;
    object-fit:cover;
    border-radius:15px;
    transition:.3s;
}

.gallery img:hover{
    transform:scale(1.05);
}

#contact{
    text-align:center;
}

#contact p{
    margin:10px;
}

footer{
    background:#ff5fa2;
    color:white;
    text-align:center;
    padding:20px;
}

@media(max-width:768px){

.container{
    flex-direction:column;
}

nav{
    margin-top:15px;
}

nav a{
    display:inline-block;
    margin:8px;
}

.hero h1{
    font-size:38px;
}

.hero p{
    font-size:18px;
}

}